.checkout {
  background-color: #fafafa;
}

.goBack {
  padding: 1.5em 0;
}

@media (min-width: 850px) {
  .content {
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }

  .detail {
    flex: 2;
  }

  .summary {
    flex: 1;
  }
}
