nav {
  width: 77%;
  margin: 0 auto;
  padding: 2em 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  display: flex;
}

nav ul {
  display: none;
}

@media (min-width: 600px) {
  .nav-logo {
    width: 80%;
  }
}

@media (min-width: 850px) {
  .nav-hamburger {
    display: none;
  }

  .nav-logo {
    width: auto;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    min-width: 50%;
    gap: 2em;
    color: white;
    font-size: 0.8125rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav a:hover,
  nav a:focus {
    cursor: pointer;
    color: #d87d4a;
  }
}
