.btn {
  border: 0;
  padding: 1em 2em;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.077em;
  text-transform: uppercase;
}
.btn:hover,
.btn:focus {
  cursor: pointer;
}

.btnOrange {
  background-color: #d87d4a;
  color: #fff;
}
.btnOrange:hover,
.btnOrange:focus {
  background-color: #fbaf85;
}

.btnBlack {
  background-color: black;
  color: #fff;
}
.btnBlack:hover,
.btnBlack:focus {
  background-color: #4c4c4c;
}

.btnBlackBorder {
  background: none;
  border: 1px solid black;
  color: black;
}
.btnBlackBorder:hover,
.btnBlackBorder:focus {
  background-color: black;
  color: white;
}
