* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
p {
  text-align: center;
}

.container-centre {
  width: 90%;
  margin: 0 auto;
}

.new-product-style {
  color: var(--orange-dark);
  font-size: 0.875rem;
  letter-spacing: 0.71em;
  text-transform: uppercase;
}

.product-name-style {
  color: #000;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.text-style {
  color: #000;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.66em; /* 166.667% */
  opacity: 0.5;
}

@media (min-width: 600px) {
  .product-name-style {
    font-size: 2.5rem;
    line-height: 1.1em; /* 110% */
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .text-style {
    color: #000;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.66em; /* 166.667% */
    opacity: 0.5;
  }
}

@media (min-width: 850px) {
  .container-centre {
    width: 77%;
  }
}
