.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 0;
  gap: 1.5em;
}

.product__content {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
}

.product__buttonContainer {
  width: 90%;
  max-width: 10em;
}

@media (min-width: 600px) {
  .product__text {
    padding: 0 4em;
  }
}

@media (min-width: 850px) {
  .product {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  .product__photo {
    /* flex: 1; */
    width: 50%;
  }

  .product__content {
    /* flex: 1; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0;
  }

  .product h2,
  .product h3,
  .product p {
    text-align: left;
  }

  .product p {
    padding: 0;
    margin-bottom: 2em;
  }

  .product h3 {
    margin-bottom: 1em;
  }

  .product__name {
    margin-bottom: 2em;
  }

  .photo_last {
    order: 2;
  }

  .padding_left {
    /* padding-left: 7.8em; */
  }

  .padding_right {
    /* padding-right: 7.8em; */
  }
}
