.feature {
  margin-bottom: 6rem;
}

.feature__title,
.feature__content {
  text-align: left;
}

.feature__title {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .feature__title {
    font-size: 2rem;
  }
}

@media (min-width: 850px) {
  .feature {
    width: 60%;
  }
  .feature__title {
    line-height: 1.125em;
  }
}
