.alsoLike {
  margin-bottom: 6rem;
}

.alsoLike__title {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.035em;
  text-transform: uppercase;
  margin-bottom: 2em;
}

.alsoLike__imgContainer {
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  height: 7.5rem;
}

.alsoLike__imgContainer img {
  height: 6rem;
}

.alsoLike__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.alsoLike__itemName {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.071em;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .alsoLike__title {
    font-size: 2rem;
  }

  .alsoLike__content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .alsoLike__item {
    flex: 1;
  }

  .alsoLike__imgContainer {
    height: 20rem;
  }

  .alsoLike__imgContainer img {
    height: 12rem;
    object-fit: cover;
  }
}
